@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    font-family: "Plus Jakarta Sans", Inter, system-ui, sans-serif;
    font-size: 16px;
    background-color: #0d0d0d;
    color: #fff;
}
